@media screen and (max-width:1200px) {
   
  
    }
@media screen and (max-width:950px) {
    
        
         
   
    }
@media screen and (max-width:768px) {
    
  
     
    }
@media screen and (max-width:568px) {
   
    }

    @media screen and (max-width:940px) {
    .menu {
        font-size: 30px;
        color: aliceblue;
        display: block;
        margin-right: 10px;
    }
    #nav-bar ul {
        position: fixed;
        top: 75px;
        left: -100%;
        height: 100vh;
        background-color: rgb(10, 57, 104);
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: all 0.5s ease-out;
    }
    #click:checked ~ .menu i::before {
        content: "\f00d";
    }
    #click:checked ~ ul {
        left: 0%;
    }
    #nav-bar ul li {
        margin: 50px 0px;
    }
     #nav-bar ul li a {
        font-size: 30px;
     }
     #hero-contant h1 {
        width: 100%;
     }
     #hero-contant p {
        width: 100%;
     }
     
}
 